<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>OpenEdX</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleIdentifier</key>
    <string>org.openedx.app.ios</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>UILaunchScreen</key>
    <dict/>
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>
    <key>NSCalendarsUsageDescription</key>
    <string>OpenEdX needs access to your calendar to sync upcoming assignments and course milestones.</string>
    <key>NSCalendarsFullAccessUsageDescription</key>
    <string>OpenEdX needs access to your calendar to sync upcoming assignments and course milestones.</string>
    <key>NSCalendarsWriteOnlyAccessUsageDescription</key>
    <string>OpenEdX needs access to add assignments and course milestones to your calendar.</string>
</dict>
</plist>
